.warning{
    position: absolute;
    width: 20rem;
    color: white;
    text-align: center;
    top: 1.2rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.3rem;
    background-color: rgb(246, 8, 8);
}